<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

 <b> Eray Ayaşlı </b>

Travelllerrrr

<i> I am interested data science because i don't understand how time flies when dealing with it </i>

<h3> This code sum even number between 1 and 100 </h3>

In [4]:
sum = 0
for i in range(100):
    if (i % 2 == 0):
        sum += i
print(sum)

2450

[This is my linkedin acc](https://www.linkedin.com/in/erayayasli/)
<hr />

* one
* two
* three
4. four
5. five